# Copy this file to .env.local and fill in values

# SQLite database path (relative to prisma/ directory)
DATABASE_URL="file:./dev.db"

# Adzuna API (https://developer.adzuna.com)
ADZUNA_APP_ID=645e4c76
ADZUNA_API_KEY=64488c45ca7305e4d6312c458b6d06b9
